<div class=container>

<div class="col-6 py-4 px-2 mt-4">
<h3><%= @question %></h3>
<br>
<h5><em>- You</em></h5>
</div>

<div class="col-6 py-4 px-2">
<h3><%= @answer %></h3>
<br>
<h5><em>- Coach</em></h5>
</div>

<%= link_to "Ask another question", ask_path %>

</div>
