
<div class="container text-center">
  <div class="mt-4 mb-4">
  <h1>Stupid Coaching</h1>
  <p>Ask your coach anything</p>
  </div>

  <form class="row g-3 justify-content-center" action="/answer" data-turbo="false">
    <div class="col-auto">
      <input type="text" class="form-control" name="question" placeholder="Ask me a question">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Ask!</button>
    </div>
  </form>

</div>
